!!! 1.1
%html
  %head
    %title Having Fun
    = stylesheet_link_tag "master"
    = javascript_include_tag :all, :recursive => true, :cache => true
  %body
    = analytics_load
    #main
      #content
        = yield
      #sidebar
        .about
          %h1 Having Fun
          %p 
            This is the personal blog of Steve Eley. At some point I should put some more stuff here.
            =link_to "+", :new_post, :class => "invisible"
    = analytics_track
            
      